body {
  font-family: "Lato", sans-serif;
  margin: 0px;
}

.containerr {
  display: grid;
  grid-template-columns: 1fr;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

/*Portfolio*/
.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin-top: 150px;
}

.portfolio-item-wrapper {
  position: relative;
  width: 80%;
}

.portfolio-img-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
}

/*ProductsPage*/

.filter-wrapper {
  display: flex;
  justify-content: flex-end;
  justify-items: center;
  padding: 38px;
  background-color: ;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

#right-side {
  margin-left: 20px;
}

#searchbalk_product {
  padding: 5px;
}

.product-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin-top: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.product-item-wrapper {
  position: relative;
  width: 80%;
  margin-bottom: 50px;
}

.product-img-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
}


.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.img-text-wrapper .subtitle {
  transition: 1s;
  color: transparent;
}

.image-blur {
  font-weight: 600;
  transition: 1s;
  filter: brightness(10%);
}

.img-text-wrapper:hover .subtitle {
  color: lightseagreen;
  font-weight: 600;
}

.logo-wrapper img {
  width: 50%;
  margin-bottom: 20px;
}

.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
  width: 100%;
}

.profile-content-wrapper {
  padding: 30px;
}

.profile-content-wrapper h1 {
  color: lightseagreen;
}



/*BuildsChampPage*/

.built-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-top: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.built-item-wrapper {
  position: relative;
  width: 80%;
  margin-bottom: 50px;
}

.InsideBuildsItem {
  position: relative;
  height: 500px;
  width: 100%;
}

.InsideBuild {
  height: 150px;
  width: 100%;
  border: solid black 1px;
  padding: 40px;
  margin-bottom: 20px;
}

.built-img-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}

/*InnerBuild*/

.RunesOuter {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 100%;
  border: solid black 1px;
  padding: 40px;
  margin-bottom: 20px;
}

.ItemOuter {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  width: 100%;
  border: solid black 1px;
  padding: 40px;
  margin-bottom: 20px;
}

.runesItemOuter {
  margin: 10px;
}

.runesItem {
  height: 80px;
  width: 80px;
  border-radius: 50px;
  border: solid black 1px;
}

.ItemsItem {
  height: 70px;
  width: 70px;
  border: solid black 1px;
}



.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-group {
    margin-bottom: 1rem;
}

.Login{
  width: 380px;
  height: 380px;
  border: solid #8080806b;
  margin: auto;
}


.form-box {
    background: #fff;
    width: 80%;
    margin: 0 auto 30px auto;
}


.choice-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-top: 40px;
}

.choice{
  padding: 5px 30px;
  border-radius: 5px;
  border: solid #8080806b;
}

.Register{
  width: 380px;
  border: solid #8080806b;
  margin: auto ;
}

#test{
  float: left;
  background-color: red;
}
