/*Master Styles*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0px;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
}


.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}


/*MenuNav*/

.nav-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 38px;
}

.left-side {
	display: flex;
}

.nav-wrapper > .left-side > div {
	margin-right: 20px;
	text-transform: uppercase;
	font-size: 0.9rem;
}

.nav-link-wrapper {
	height: 22px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
}

.active-nav-link {
	border-bottom: 1px solid black;
}

	.active-nav-link a {
		color: black !important;
	}

.nav-link-wrapper a {
	color: #8a8a8a;
	text-decoration: none;
	transition: color 0.5s;
}

.nav-link-wrapper:hover {
	border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
	color: black;
}

/*HomeView Items styles*/

.portfolio-items-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
	margin-top: 150px;
}

.portfolio-item-wrapper {
	position: relative;
	width: 80%;
}

.portfolio-img-background {
	height: 350px;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


/*TestCSS*/

:root {
	--primaryColor: #af9a7d;
	--mainWhite: #fff;
	--offWhite: #f7f7f7;
	--mainBlack: #222;
	--mainGrey: #ececec;
	--darkGrey: #cfcfcf;
	--mainTransition: all 0.3s linear;
	--mainSpacing: 3px;
	--lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
	--darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
	color: var(--mainBlack);
	background: var(--mainWhite);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	line-height: 1.4;
}

h1 {
	font-size: 3em;
	line-height: 1;
	margin-bottom: 0.5em;
}

h2 {
	font-size: 2em;
	margin-bottom: 0.75em;
}

h3 {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 1em;
}

h4 {
	font-size: 1.2em;
	line-height: 1.25;
	margin-bottom: 1.25em;
}

h5 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1.5em;
}

h6 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1.5em;
}

.btn-primary {
	display: inline-block;
	text-decoration: none;
	letter-spacing: var(--mainSpacing);
	color: var(--mainBlack);
	background: var(--primaryColor);
	padding: 0.4rem 0.9rem;
	border: 3px solid var(--primaryColor);
	transition: var(--mainTransition);
	text-transform: uppercase;
	cursor: pointer;
}

	.btn-primary:hover {
		background: transparent;
		color: var(--primaryColor);
	}

.loading {
	text-transform: capitalize;
	text-align: center;
	margin-top: 3rem;
}

.error {
	text-align: center;
	text-transform: uppercase;
	margin: 2rem 0;
}

.empty-search {
	text-align: center;
	text-transform: capitalize;
	margin: 2rem 0;
	padding: 1rem;
	letter-spacing: var(--mainSpacing);
}
/* end of globals */
/* Navbar */
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.75rem 2rem;
	background: var(--offWhite);
	z-index: 1;
}

.nav-header {
	display: flex;
	justify-content: space-between;
}

.nav-btn {
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none;
}

.nav-icon {
	font-size: 1.5rem;
	color: var(--primaryColor);
}

.nav-links {
	/*height: 0;
  overflow: hidden;*/
	transition: var(--mainTransition);
	list-style-type: none;
}

	.nav-links a {
		display: block;
		text-decoration: none;
		padding: 1rem 0;
		color: var(--mainBlack);
		transition: var(--mainTransition);
		text-align: center;
		font-size: 1rem;
		font-weight: 600;
		letter-spacing: var(--mainSpacing);
	}

		.nav-links a:hover {
			color: var(--primaryColor);
		}

.show-nav {
	height: 100px;
}

@media screen and (min-width: 768px) {
	.nav-btn {
		display: none;
	}

	.nav-center {
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
	}

	.nav-links {
		height: auto;
		display: flex;
		margin-left: 4rem;
	}

		.nav-links a {
			margin: 0 1rem;
			padding: 0.5rem 0;
		}
}
/* end of navbar */
/* Hero */
.defaultHero,
.roomsHero {
	min-height: calc(100vh - 66px);
	background: url("./images/defaultBcg.jpeg") center/cover no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}

.roomsHero {
	background-image: url("./images/room-2.jpeg");
	min-height: 60vh;
}
/* End of Hero */
/* Banner */
.banner {
	display: inline-block;
	background: rgba(0, 0, 0, 0.5);
	color: var(--mainWhite);
	padding: 2rem 1rem;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: var(--mainSpacing);
}

	.banner h1 {
		font-size: 2.5rem;
	}

	.banner div {
		width: 10rem;
		height: 5px;
		background: var(--primaryColor);
		margin: 1.7rem auto;
	}

	.banner p {
		font-size: 1.2rem;
		margin-bottom: 2rem;
	}

@media screen and (min-width: 576px) {
	.banner {
		padding: 2rem 3rem;
	}

		.banner h1 {
			font-size: 3rem;
		}
}

@media screen and (min-width: 992px) {
	.banner {
		padding: 2rem 6rem;
	}

		.banner h1 {
			font-size: 4rem;
		}
}
/* End of Banner */
/* Title */
.section-title {
	text-align: center;
	margin-bottom: 1rem;
}

	.section-title h4 {
		font-size: 2rem;
		letter-spacing: var(--mainSpacing);
		text-transform: capitalize;
		margin-bottom: 1rem;
	}

	.section-title div {
		width: 5rem;
		height: 5px;
		margin: 0 auto;
		background: var(--primaryColor);
	}
/* end of Title */

/* services */
.services {
	padding: 5rem 0;
}

.services {
	background: var(--darkGrey);
	text-align: center;
}

.services-center {
	width: 90vw;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
	grid-row-gap: 2rem;
	grid-column-gap: 50px;
}

.service span {
	display: inline-block;
	color: var(--primaryColor);
	font-size: 2.5rem;
	margin-bottom: 1.5rem;
}

.services h6 {
	letter-spacing: var(--mainSpacing);
}

.services p {
	width: 80%;
	margin: 0 auto;
}

@media screen and (min-width: 992px) {
	.services-center {
		width: 95vw;
		max-width: 1170px;
	}
}

@media screen and (min-width: 1200px) {
	.services p {
		width: 100%;
	}
}
/*end of services */
/* featured rooms */

.featured-rooms {
	padding: 5rem 0;
}

.featured-rooms-center {
	width: 80vw;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	grid-row-gap: 2rem;
	grid-column-gap: 40px;
}

@media screen and (min-width: 776px) {
	.featured-rooms-center {
		width: 90vw;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media screen and (min-width: 992px) {
	.featured-rooms-center {
		width: 95vw;

	}
}
/* end pf featured rooms */
/* room */
.room {
	box-shadow: var(--lightShadow);
	transition: var(--mainTransition);
}

	.room:hover {
		box-shadow: var(--darkShadow);
	}

.img-container {
	position: relative;
}

	.img-container img {
		width: 100%;
		display: block;
		transition: var(--mainTransition);
	}

.price-top {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	color: var(--mainWhite);
	padding: 0.3rem 0.6rem 0.5rem;
	border-bottom-right-radius: 1rem;
	font-size: 0.5rem;
	text-align: center;
	transition: var(--mainTransition);
}

	.price-top h6 {
		margin-bottom: 0;
		font-size: 0.9rem;
		font-weight: 300;
		letter-spacing: var(--mainSpacing);
	}

.room-link {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: scale(0);
	transition: all 0.3s linear;
}

.img-container:hover {
	background: rgba(0, 0, 0, 0.8);
}

	.img-container:hover img {
		opacity: 0.3;
	}

	.img-container:hover .price-top {
		opacity: 0;
	}

	.img-container:hover .room-link {
		transform: translate(-50%, -50%) scale(1);
	}

.room-info {
	background: var(--darkGrey);
	text-transform: capitalize;
	padding: 0.5rem 0;
	text-align: center;
	font-weight: 700;
	letter-spacing: var(--mainSpacing);
	margin: 0;
}


/* end of room  */
/* single room*/

.single-room {
	padding: 5rem 0 0 0;
}

.single-room-images {
	width: 80vw;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-row-gap: 2rem;
	grid-column-gap: 50px;
}

	.single-room-images img {
		width: 100%;
		display: block;
	}

.single-room-info {
	width: 80vw;
	display: grid;
	grid-template-columns: 1fr;
	margin: 2rem auto;
}

.desc,
.info {
	margin: 1rem 0;
}

	.desc h3 {
		text-transform: capitalize;
		letter-spacing: var(--mainSpacing);
	}

	.desc p {
		line-height: 1.5;
	}

	.info h3,
	.info h6 {
		text-transform: capitalize;
		letter-spacing: var(--mainSpacing);
	}

	.info h6 {
		font-weight: 300;
	}

.room-extras {
	width: 80vw;
	margin: 0 auto 3rem auto;
}

	.room-extras h6 {
		text-transform: capitalize;
		letter-spacing: var(--mainSpacing);
	}

.extras {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
	grid-column-gap: 2rem;
	grid-row-gap: 1rem;
}

@media screen and (min-width: 992px) {
	.single-room-images,
	.single-room-info,
	.room-extras {
		width: 95vw;
		max-width: 1170px;
	}

	.single-room-info {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2rem;
	}

	.info {
		padding-left: 3rem;
	}
}
/* end of single room*/
/* roomlist */
.roomslist {
	padding: 2rem 0;
}

.roomslist-center {
	width: 80vw;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
	grid-row-gap: 2rem;
	grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
	.roomslist-center {
		width: 90vw;
	}
}

@media screen and (min-width: 992px) {
	.roomslist-center {
		width: 95vw;
		max-width: 1170px;
	}
}
/* end of roomlist */
/*  rooms fitler*/
.filter-container {
	/*padding: 5rem 0*/
}

.filter-form {
	width: 60vw;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
	grid-row-gap: 2rem;
	grid-column-gap: 40px;
}

#grid{
	display: grid;
	grid-template-columns: auto auto auto auto;
}

.form-group {
	text-transform: capitalize;
}

	.form-group label {
		display: block;
		letter-spacing: var(--mainSpacing);
		margin-bottom: 0.5rem;
	}

.form-control {
	width: 100%;
	background: transparent;
	font-size: 1rem;
}

.size-inputs {
	display: flex;
}

.size-input {
	width: 40%;
	padding: 0.2rem;
	border: 1px solid var(--mainBlack);
	border-radius: 0.3rem;
	margin-right: 0.3rem;
}

.single-extra label {
	display: inline-block;
	font-size: 0.8rem;
	margin-left: 0.5rem;
}

@media screen and (min-width: 776px) {
	.filter-form {
		width: 70vw;
	}
}

@media screen and (min-width: 992px) {
	.filter-form {
		width: 95vw;
		max-width: 1170px;
	}
}
/* end of rooms fitler*/



/*Single Built*/
/*BuildsChampPage*/

.built-items-wrapper {
  display: grid;
  justify-items: center;
  margin-top: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.built-item-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}

.InsideBuildsItem {
  position: relative;
  height: 500px;
  width: 100%;
}

.InsideBuild {
  width: 100%;
  border: solid black 1px;
  padding: 40px;
  margin-bottom: 20px;
}

.built-img-background img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
}

/*NAVBAR*/
.right-side {
  display: flex;
}

.brand{
  padding: 0 20px;
}

.login-container{
	margin: 5px 0;
}

.login-container a {
		color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}


.form-group-right{
	width: 100%;
	grid-area: right;
}

.single-champ-wrapper{
	height: 100%;
	display: flex;
}

.testIets{
	width: 50%;
}

.random{
	display: flex;
	justify-content: space-around;
	width: 100%;
	list-style: none;
	margin: 0px;
	padding-top: 50px;
}

/*Single Page CSS*/

.hwEUco {
	display: block;
	text-align: center;
	color: rgb(208, 168, 92);
	letter-spacing: 0.15em;
	animation: 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) 500ms 1 normal both running bcCCNc;
}

.champ-rol{
	width: 100%;
	margin-top: 0.9375rem;
	color: black;
}

.arnie{
	display: inline-block;
	vertical-align: middle;
	width: 36px;
	height: 36px;
	fill: rgb(208, 168, 92);
	padding: 7px;
}

.hZPZqS {
	box-sizing: border-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	width: 50%;
	padding: 3.75rem;
	animation: 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) 800ms 1 normal both running bcCCNc;
}

.fKThfc {
	width: 1px;
	transform-origin: center top;
	margin: 2.5rem 0px;
	background: black;
	animation: 400ms cubic-bezier(0.215, 0.61, 0.355, 1) 780ms 1 normal both running iBnaTA;
}

.test-img-background img{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
}

.abilities-container-wrapper{
	width: 100%;
	margin-top: 20%;
}

.abilities-container{
	position: relative;
	width: 100%;
	display: flex;
}


.abilities{
	display: inline-block;
	width: 12.5%;
	margin-right: 2.5%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	height: 100%;
	background-color: floralwhite;
	text-align: center;
}


.abilities:hover{
	background-color: aquamarine;
	cursor: pointer;
}



.headerName{
	bottom: calc(100%);
	margin-top: 0px;
	margin-bottom: 0px;
	color: black;
	letter-spacing: 0.05em;
	font-family: "Beaufort for LOL", serif;
	font-weight: 800;
	font-size: 3.75rem;
}

.single-champ-skins-wrapper{
	width: 100%;
	margin: 0 auto;
	display: inline-block;
}


.slider-img-background img{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
}

.skrr{
	margin: 0 auto;
	width: 90%;
}


/*Slider*/

.slider-frame{
	overflow: hidden;
	height: 800px;
	width: 1200px;
	margin: 0 auto;
	background-color: #ff0000;
}

/*-----------------SLIDE ANIMATION------------------------*/


.slide-images{
	width: 3600px;
	height: 800px;
	margin: 0 0 0 -2400px;
	position: relative;
	-webkit-animation-name: slide_animation;
	-webkit-animation-duration: 33s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
}

.img-container{
	width: 100%;
	position: relative;
	float: left;
}


/*-----------------END ANIMATION------------------------*/


/*ListOverView*/

.ListOverView-wrapper{
	width: 80%;
	margin: 100px auto;
}

#deleteChamp{
	background-color: red;
	border: red;
}

#changeChamp{
	background-color: orange;
	border: orange;
}

